## Importing dependencies and environmental variables

In [1]:
# Dependencies
import csv as csv
import http.client 
import json
import numpy as np
import os
import pandas as pd
import pprint
import psycopg2
import requests
import sqlalchemy
from bs4 import BeautifulSoup as bs
from dotenv import load_dotenv
from selenium import webdriver
from sodapy import Socrata
from splinter import Browser
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, Float, Date

In [2]:
# Loading homeowrk7.env so that the environment variables can be used in the engine object url
load_dotenv("project3.env")
# Initializing variables to hold each environmet varaible
username=os.environ.get("USERNAME")
password=os.environ.get("PASSWORD")
host=os.environ.get("HOST")
port=os.environ.get("PORT")
database=os.environ.get("DATABASE")
google_key = os.environ.get('GOOGLE_API_KEY')
yelp_client_id = os.environ.get('YELP_CLIENT_ID')
yelp_key = os.environ.get('YELP_API_KEY')
sf_data_key = os.environ.get('SFDATAAPPTOKEN')
acs_5yr_key = os.environ.get('ACS_5YR_KEY')

## Flask app Heroku DB connection stuff

In [ ]:
app = Flask(__name__)

uri = os.environ.get("URI")
print(uri)
app.config["SQLALCHEMY_DATABASE_URI"] = 'postgres://gaoafzhoycjoin:3e7bfe74080d2238fa6ef14ee67e403af421b3d7d5cb45f12aa5df5fdbf1968b@ec2-174-129-43-40.compute-1.amazonaws.com:5432/dfu7vggjmve1rn'
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
# # Binding the instance of flask_sqlalchemy.SQLAlchemy to this specific flask app
db = SQLAlchemy(app)
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)
# Initializing a variable with the created engine
engine = db.engine
# Initializing a variable with the connection resource
connection = engine.connect()
# Create our session (link) from Python to the DB
session = Session(engine)
inspector = inspect(engine)

## Test querying the ACS 5-year API

In [7]:
# Initializing a variable for the total population of the query zip code
total_pop = "B01001_001E"
# Initializing variables to hold the numbers of females aged 24-34, and white females aged 24-34
total_24_29_female = "B01001_035E"
total_30_34_female = "B01001_036E"
total_24_29_female_wht = "B01001A_024E"
total_30_34_female_wht = "B01001A_025E"
# Initializing variables to hold the numbers of males aged 24-34, and white males aged 24-34
total_24_29_male = "B01001_011E"
total_30_34_male = "B01001_012E"
total_24_29_male_wht = "B01001A_009E"
total_30_34_male_wht = "B01001A_010E"
#
total_wht = "B01001A_001E"
# Initializing variables to hold the numbers of college degree-holders living in the query zip code
with_bachelors = "B06009_005E"
with_advanced_deg = "B06009_006E"
# Concatenating all of the above variables into a query string
variables = (total_pop 
             + "," + total_24_29_female 
             + "," + total_30_34_female 
             + "," + total_24_29_male 
             + "," + total_30_34_male 
             + "," + total_24_29_female_wht 
             + "," + total_30_34_female_wht 
             + "," + total_24_29_male_wht 
             + "," + total_30_34_male_wht 
             + "," + total_wht
             + "," + with_bachelors 
             + "," + with_advanced_deg)

In [ ]:
# Initializing a test zip code
test_zip_code = 94105

In [ ]:
# Initializing varibales to hold the base url and the complete query url
base_url = f"https://api.census.gov/data/2017/acs/acs5?get="
test_query_url = base_url+f"{variables}&for=zip%20code%20tabulation%20area:{test_zip_code}&key={acs_5yr_key}"

In [ ]:
# Test printing the query url
test_query_url

In [ ]:
# Querying the ACS 5-year API
acs_response = requests.get(test_query_url).json()

In [ ]:
# Printing the query results for the test zip code
acs_response

In [ ]:
# Loading the query results into a DataFrame with updated column names
test_acs_df = pd.DataFrame(acs_response[1:], columns=[
                                                      "total_pop",
                                                      "total_24_29_female", 
                                                      "total_30_34_female", 
                                                      "total_24_29_male",
                                                      "total_30_34_male",
                                                      "total_24_29_female_wht",
                                                      "total_30_34_female_wht",
                                                      "total_24_29_male_wht",
                                                      "total_30_34_male_wht",
                                                      "total_wht",
                                                      "with_bachelors",
                                                      "with_advanced_deg",
                                                      "zip_code"
                                                     ])
cols = test_acs_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
test_acs_df = test_acs_df[cols]

In [ ]:
# Creating calculated columns for percent of zip code population aged 25-34, percent white, 
# and percent with a college degree
test_acs_df["pct_25_34"] = ((int(test_acs_df["total_24_29_female"])
                            + int(test_acs_df["total_30_34_female"]) 
                            + int(test_acs_df["total_24_29_male"])
                            + int(test_acs_df["total_30_34_female"]))
                            / int(test_acs_df["total_pop"])
                           ) * 100
test_acs_df["pct_college_deg"] = ((int(test_acs_df["with_bachelors"]) 
                                  + int(test_acs_df["with_advanced_deg"]))
                                  / int(test_acs_df["total_pop"])
                                 ) * 100
test_acs_df["pct_wht"] = (int(test_acs_df["total_wht"]) / int(test_acs_df["total_pop"])) * 100

In [ ]:
# Displaying the DataFrame of test results
test_acs_df

## Querying the ACS 5-year API for demographic data for each SF zipcode

In [3]:
# Initializing a variable with a list of all of the zipcodes in San Francisco
sf_zipcodes = [94102, 94103, 94104, 94105, 94107, 94108, 94109, 94110, 94111, 94112, 94114, 94115, 94116, 94117, 
               94118, 94121, 94122, 94123, 94124, 94127, 94129, 94130, 94131, 94132, 94133, 94134, 94158]

In [4]:
df_columns=["total_pop",
            "total_24_29_female", 
            "total_30_34_female", 
            "total_24_29_male",
            "total_30_34_male",
            "total_24_29_female_wht",
            "total_30_34_female_wht",
            "total_24_29_male_wht",
            "total_30_34_male_wht",
            "total_wht",
            "with_bachelors",
            "with_advanced_deg",
            "zip_code"
           ]

In [13]:
total_zip_code_list = []
for zip_code in sf_zipcodes:
    base_url = f"https://api.census.gov/data/2017/acs/acs5?get="
    query_url = base_url+f"{variables}&for=zip%20code%20tabulation%20area:{zip_code}&key={acs_5yr_key}"
    zip_code_response = requests.get(query_url).json()
    zip_code_df = pd.DataFrame(zip_code_response[1:], columns=df_columns)
    cols = zip_code_df.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    zip_code_df = zip_code_df[cols]
    zip_code_df["pct_25_34"] = ((int(zip_code_df["total_24_29_female"])
                            + int(zip_code_df["total_30_34_female"]) 
                            + int(zip_code_df["total_24_29_male"])
                            + int(zip_code_df["total_30_34_female"]))
                            / int(zip_code_df["total_pop"])
                           ) * 100
    zip_code_df["pct_college_deg"] = ((int(zip_code_df["with_bachelors"]) 
                                  + int(zip_code_df["with_advanced_deg"]))
                                  / int(zip_code_df["total_pop"])
                                 ) * 100
    zip_code_df["pct_wht"] = (int(zip_code_df["total_wht"]) / int(zip_code_df["total_pop"])) * 100
    total_zip_code_list.append(zip_code_df)

In [18]:
total_zip_code_responses_df = pd.concat(total_zip_code_list, ignore_index=True)

In [20]:
total_zip_code_responses_df

,zip_code,total_pop,total_24_29_female,total_30_34_female,total_24_29_male,total_30_34_male,total_24_29_female_wht,total_30_34_female_wht,total_24_29_male_wht,total_30_34_male_wht,total_wht,with_bachelors,with_advanced_deg,pct_25_34,pct_college_deg,pct_wht
0,94102,30140,1653,1562,2245,1821,781,735,1192,1182,13570,7298,4145,23.297943,37.966158,45.023225
1,94103,26990,1456,1409,2112,2283,549,523,851,1169,11263,7190,3790,23.660615,40.681734,41.730270
2,94104,436,21,0,28,44,0,0,28,0,177,108,41,11.238532,34.174312,40.596330
3,94105,7675,506,588,416,532,263,87,262,316,3908,2279,3407,27.335505,74.084691,50.918567
4,94107,29920,1567,2586,2057,2305,886,1293,1279,1389,15881,9404,7664,29.398396,57.045455,53.078209
5,94108,14856,1166,855,856,839,644,409,576,327,5110,3639,2033,25.121163,38.179860,34.396877
6,94109,56587,5433,3998,4319,5393,3543,2847,2788,4143,34621,19627,12593,31.364094,56.938873,61.181897
7,94110,73737,3938,4236,5212,5455,2628,2702,3152,3168,41759,19491,13046,23.898450,44.125744,56.632356
8,94111,3356,104,154,101,253,37,45,73,169,1829,932,1075,15.286055,59.803337,54.499404
9,94112,85373,3410,3268,4513,3688,496,780,1054,1247,20813,13781,5763,16.936268,22.892484,24.378902
10,94114,34561,1697,2069,1710,2683,1244,1436,1197,2125,26570,11158,11756,21.830966,66.300165,76.878563
11,94115,35751,2555,2246,2826,2290,1612,1402,1901,1774,20587,10964,8872,27.616011,55.483763,57.584403
12,94116,47708,2037,2015,1849,1625,617,697,817,497,17599,11381,6547,16.592605,37.578603,36.888991
13,94117,43610,4053,3385,3883,3216,2994,2732,2677,2626,32506,16222,10407,33.721623,61.061683,74.537950
14,94118,41417,2947,2280,2428,2380,1858,1407,1418,1693,23844,12720,9046,23.987735,52.553299,57.570563
15,94121,43638,1882,1733,2020,1602,888,724,999,773,19621,11663,7435,16.884367,43.764609,44.963106
16,94122,62516,4081,3119,3593,3629,1642,1462,1780,1690,24547,17916,10867,22.253503,46.041014,39.265148
17,94123,25461,2331,2424,2373,2135,1933,2066,2134,1850,21219,11258,6487,37.516201,69.694827,83.339225
18,94124,35492,1494,1578,1669,1560,203,250,395,211,4768,4471,1660,17.804012,17.274315,13.434013
19,94127,21093,506,693,601,565,165,376,284,376,11788,5941,5078,11.819087,52.240080,55.885839
20,94129,4019,293,221,203,160,269,210,203,148,3411,1053,976,23.339139,50.485195,84.871859
21,94130,3129,184,157,279,202,58,56,173,90,1235,548,164,24.832215,22.754874,39.469479
22,94131,29056,1170,1390,1558,1522,597,860,1011,1049,18825,8574,8188,18.956498,57.688601,64.788684
23,94132,31155,1278,695,1597,893,482,102,573,293,10830,6067,3470,13.689616,30.611459,34.761675
24,94133,26942,1389,1454,1425,1669,815,898,1046,1038,11558,6736,4554,21.238215,41.904833,42.899562
25,94134,43074,1665,1470,1657,1369,190,246,464,114,7137,5539,2106,14.537772,17.748526,16.569160
26,94158,6547,599,787,557,745,368,374,312,446,3266,2334,1602,41.698488,60.119139,49.885444

In [21]:
total_zip_code_responses_df.to_csv("total_zip_code_responses.csv", index=False, header=True)